In [1]:
from pandas_datareader import data
import fix_yahoo_finance as yf
yf.pdr_override() 

symbol = 'WEED.TO'
#data_source='yahoo'
start_date = '2014-05-01'
end_date = '2018-06-01'
df = data.get_data_yahoo(symbol, start_date, end_date)
print(df)

[*********************100%***********************]  1 of 1 downloaded
                 Open       High        Low      Close  Adj Close   Volume
Date
2014-05-01   3.250000   3.250000   3.020000   3.030000   3.030000   931600
2014-05-02   3.050000   3.210000   3.040000   3.130000   3.130000   261500
2014-05-05   3.200000   3.310000   3.170000   3.260000   3.260000   277000
2014-05-06   3.300000   3.310000   3.220000   3.230000   3.230000   262100
2014-05-07   3.260000   3.290000   3.150000   3.180000   3.180000   328600
2014-05-08   3.200000   3.230000   3.100000   3.100000   3.100000   214900
2014-05-09   3.100000   3.110000   2.830000   3.000000   3.000000   716900
2014-05-12   3.000000   3.090000   2.830000   2.900000   2.900000   434500
2014-05-13   2.800000   2.800000   2.650000   2.690000   2.690000   724000
2014-05-14   2.630000   3.100000   2.540000   2.910000   2.910000  1521200
2014-05-15   2.960000   2.990000   2.710000   2.780000   2.780000   302200
2014-05-16   2.820000   2.840000   2.680000   2.760000   2.760000   248300
2014-05-20   2.740000   2.740000   2.630000   2.700000   2.700000   272900
2014-05-21   2.760000   2.760000   2.650000   2.680000   2.680000    93900
2014-05-22   2.650000   2.660000   2.580000   2.610000   2.610000   248900
2014-05-23   2.580000   2.850000   2.560000   2.810000   2.810000   331300
2014-05-26   2.850000   3.120000   2.830000   3.050000   3.050000   781800
2014-05-27   3.130000   3.190000   3.100000   3.160000   3.160000   546200
2014-05-28   3.170000   3.170000   2.860000   3.050000   3.050000   545000
2014-05-29   3.080000   3.080000   2.940000   3.010000   3.010000   235400
2014-05-30   3.030000   3.050000   2.880000   2.950000   2.950000   180100
2014-06-02   3.000000   3.000000   2.850000   2.950000   2.950000   116800
2014-06-03   2.970000   2.980000   2.800000   2.840000   2.840000   251700
2014-06-04   2.840000   2.860000   2.800000   2.800000   2.800000   322500
2014-06-05   2.830000   2.850000   2.760000   2.770000   2.770000   144600
2014-06-06   2.800000   2.800000   2.710000   2.750000   2.750000   137400
2014-06-09   2.760000   2.800000   2.730000   2.770000   2.770000   100700
2014-06-10   2.830000   2.960000   2.810000   2.910000   2.910000   224800
2014-06-11   2.910000   2.950000   2.850000   2.950000   2.950000    74000
2014-06-12   2.930000   2.940000   2.800000   2.900000   2.900000   126400
...               ...        ...        ...        ...        ...      ...
2018-04-20  30.230000  30.879999  29.889999  30.010000  30.010000  3025100
2018-04-23  29.799999  30.270000  27.959999  28.150000  28.150000  4210300
2018-04-24  28.080000  28.879999  27.740000  28.240000  28.240000  2598400
2018-04-25  28.260000  28.400000  27.049999  27.250000  27.250000  2544600
2018-04-26  27.540001  27.830000  27.030001  27.240000  27.240000  1780800
2018-04-27  27.459999  27.490000  27.000000  27.340000  27.340000  1142600
2018-04-30  27.790001  30.120001  27.500000  30.110001  30.110001  4341600
2018-05-01  29.620001  29.940001  29.049999  29.490000  29.490000  2512700
2018-05-02  29.379999  30.700001  28.760000  29.670000  29.670000  3592100
2018-05-03  29.010000  30.400000  29.010000  29.959999  29.959999  2796100
2018-05-04  30.090000  30.590000  29.730000  29.969999  29.969999  2366100
2018-05-07  30.280001  30.920000  30.129999  30.250000  30.250000  2903000
2018-05-08  30.309999  30.790001  29.500000  29.629999  29.629999  3048200
2018-05-09  29.750000  30.219999  29.570000  29.870001  29.870001  1982600
2018-05-10  30.180000  30.180000  29.639999  29.750000  29.750000  1380600
2018-05-11  29.850000  30.549999  29.650000  30.299999  30.299999  1820800
2018-05-14  31.770000  33.330002  31.709999  32.380001  32.380001  6968300
2018-05-15  32.509998  32.779999  31.940001  32.509998  32.509998  3356100
2018-05-16  32.500000  32.860001  32.009998  32.009998  32.009998  2076600
2018-05-17  32.000000  33.650002  31.410000  33.139999  33.139999  5279400
2018-05-18  33.270000  36.080002  33.020000  36.040001  36.040001  6417800
2018-05-22  37.900002  39.500000  36.790001  39.439999  39.439999  7385300
2018-05-23  38.500000  39.419998  37.759998  38.759998  38.759998  6617100
2018-05-24  39.900002  40.000000  36.240002  36.349998  36.349998  7374300
2018-05-25  36.509998  37.270000  34.660000  35.000000  35.000000  5860300
2018-05-28  34.939999  36.820000  33.759998  36.619999  36.619999  4463700
2018-05-29  35.900002  37.750000  35.430000  36.560001  36.560001  5711300
2018-05-30  37.000000  37.389999  36.299999  37.070000  37.070000  3707200
2018-05-31  37.330002  37.580002  36.459999  36.740002  36.740002  3398500
2018-06-01  37.000000  37.980000  36.709999  37.700001  37.700001  3516000

[1025 rows x 6 columns]

In [3]:
stock_data= df[['Adj Close', 'Volume']].copy()
stock_data.set_index(df.index)
print (stock_data)

            Adj Close   Volume
Date
2014-05-01   3.030000   931600
2014-05-02   3.130000   261500
2014-05-05   3.260000   277000
2014-05-06   3.230000   262100
2014-05-07   3.180000   328600
2014-05-08   3.100000   214900
2014-05-09   3.000000   716900
2014-05-12   2.900000   434500
2014-05-13   2.690000   724000
2014-05-14   2.910000  1521200
2014-05-15   2.780000   302200
2014-05-16   2.760000   248300
2014-05-20   2.700000   272900
2014-05-21   2.680000    93900
2014-05-22   2.610000   248900
2014-05-23   2.810000   331300
2014-05-26   3.050000   781800
2014-05-27   3.160000   546200
2014-05-28   3.050000   545000
2014-05-29   3.010000   235400
2014-05-30   2.950000   180100
2014-06-02   2.950000   116800
2014-06-03   2.840000   251700
2014-06-04   2.800000   322500
2014-06-05   2.770000   144600
2014-06-06   2.750000   137400
2014-06-09   2.770000   100700
2014-06-10   2.910000   224800
2014-06-11   2.950000    74000
2014-06-12   2.900000   126400
...               ...      ...
2018-04-20  30.010000  3025100
2018-04-23  28.150000  4210300
2018-04-24  28.240000  2598400
2018-04-25  27.250000  2544600
2018-04-26  27.240000  1780800
2018-04-27  27.340000  1142600
2018-04-30  30.110001  4341600
2018-05-01  29.490000  2512700
2018-05-02  29.670000  3592100
2018-05-03  29.959999  2796100
2018-05-04  29.969999  2366100
2018-05-07  30.250000  2903000
2018-05-08  29.629999  3048200
2018-05-09  29.870001  1982600
2018-05-10  29.750000  1380600
2018-05-11  30.299999  1820800
2018-05-14  32.380001  6968300
2018-05-15  32.509998  3356100
2018-05-16  32.009998  2076600
2018-05-17  33.139999  5279400
2018-05-18  36.040001  6417800
2018-05-22  39.439999  7385300
2018-05-23  38.759998  6617100
2018-05-24  36.349998  7374300
2018-05-25  35.000000  5860300
2018-05-28  36.619999  4463700
2018-05-29  36.560001  5711300
2018-05-30  37.070000  3707200
2018-05-31  36.740002  3398500
2018-06-01  37.700001  3516000

[1025 rows x 2 columns]

In [ ]:
stock_data.to_csv('weedstockdata.csv')